@import 'base.less';
#main {
    padding-bottom: 2.56rem;
    .mui-media {
        padding-right: 0.5333rem;
        .mui-navigate-right:after,
        .mui-push-right:after {
            right: 0px;
        }
        .product-left {
            min-width: 2.1333rem;
            min-height: 2.1333rem;
            padding: 0.2667rem;
            width: 1.6rem;
            height: 1.6rem;
            img {
                min-width: 1.6rem;
                width: 1.6rem;
                height: 1.6rem;
            }
            .check {
                margin-top: 0.1333rem;
            }
        }
        .product-name {
            /* 控制只显示2行文字对于隐藏 */
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            font-size: 0.3733rem;
            //注意这里MUI会添加不换行的属性 媒体列表里面默认让标题是不换行
            white-space: normal;
        }
        .product-price {
            .new-price {
                font-size: 0.4267rem;
                color: red;
            }
            .old-price {
                color: #ccc;
                font-size: 0.32rem;
            }
        }
        .product-params {
            padding-top: 0.2667rem;
        }
        .product-size {
            font-size: 0.32rem;
            color: #666;
        }
        .product-num {
            font-size: 0.32rem;
            color: #666;
        }
    }
    .total {
        position: fixed;
        bottom: 1.2rem;
        left: 0px;
        z-index: 888;
        width: 100%;
        font-size: 0.3733rem;
        border-top: 1.0012px solid #ccc;
        padding: 0.1333rem;
        background-color: #fff;
        .mui-pull-left {
            line-height: 1.0667rem;
            color: red;
            font-weight: 600;
        }
    }
}

.btn-size {
    display: inline-block;
    padding: 0.1333rem;
    border: 1.0012px solid #ccc;
    margin-bottom: 0.2667rem;
    &.active {
        background-color: orange;
    }
}

.mui-popup-inner{
    padding:0.4rem 0px;
}
