@import 'base.less';

#main{
    #product{
		font-size: 0.3733rem;
		>div{
			padding: 0.2667rem 0;
			border-bottom: 0.0267rem solid #ccc;
		}
		.product-name{

			>span{
				font-size: 0.48rem;
			}
		}
		.product-price{
			.new-price{
				color:red;
				font-size: 0.5333rem;
				font-weight: 600;
			}
			.old-price{
				color:#ccc;
			}
		}
		.product-size{
			.btn-size{
				display: inline-block;
				padding: 0.1333rem;
				border:0.0267rem solid #ccc;
				margin-bottom: 0.2667rem;
				&.active{
					background-color: orange;
				}
			}
		}
		
	}
}
#footer{
    background-color: #ccc;
    .btn_cart{
        position: absolute;
        font-size: 0.5333rem;
        color: #444;
        left: 0.4rem;
        top: 0.08rem;
    }
    .btn-options{
        padding:0.1333rem 0.2667rem 0.1333rem 1.6rem;
        .add-cart{
            width: 50%;
            float: left;
            padding-right: 0.1333rem;
        }
        .buy{
            width: 50%;
            float: left;
            padding-left: 0.1333rem;
        }
        .btn-add-cart{
			width: 100%;
			padding: 0.1867rem 0;
		}
		.btn-buy{
			width: 100%;
			padding: 0.1867rem 0;
		}
    }
}