@mainColor:#006699;
body{
    background-color: #fff;
}
// 顶部
#header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 45px;
    background-color: @mainColor;
    z-index: 999;
    
    h4{
        line-height: 45px;
        text-align: center;
        color: #fff;
        font-weight: normal;
        margin: 0;
    }
    .fa-search{
        position: absolute;
        top: 13px;
        right: 15px;
        color: #fff;
        font-size: 18px;
    }
}
// 主体部分
#main{
    padding-top: 45px;
    padding-bottom: 45px;
}
//导航部分
#nav{
    padding: 0 10px;
    a{
        display: block;
        img{
            width: 100%;
        }
    }
}
// 广告部分
#banner{
    padding:0 10px;
    border-top: 1px solid #ccc;
    a{
        display: block;
        img{
            width: 100%;
        }
    }
}
// 品牌部分
#brand{
	padding: 0 10px;
	a{
		display: block;
		img{
			width: 100%;
		}
	}
}
// 运动专区
#sport,#women,#man{
    padding: 0 10px;
    .title{
        a{
            display: block;
            
            img{
                width: 100%;
            }
        }
    }
    .content{
        text-align: center;
        .mui-row{
             >div{
                padding: 5px;
            }
         }
        
        .product{
            box-shadow: 0px 0px 5px #666;
            display: block;
            padding-bottom: 10px;
            img{
                width: 100%;
            }
        }
        p{

        }
        .price{
            font-size: 12px;
            .price-new{
                color: red;
            }
            .price-old{
                color: #888;
            }
        }
    }
}
// 底部
#footer{
    
    height: 45px;
    background-color: @mainColor;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    a{
        color: #fff;
        display: block;
        font-size: 14px;
        text-align: center;
        padding: 10px 0;
        span{
            display: block;
            margin-top: 2px;
        }
    }
}