@import 'base.less';
#main{

    .get-verify{
        position: absolute;
        top:0;
        right: 0;
        width: 3.2rem;
    }
    .btn-register{
        width: 100%;
        margin-top: 0.5333rem;
    }
    .btn-login{
        font-size: 0.3733rem;
        float: right;
        margin-top: 0.2667rem;
        margin-right: 0.1333rem;
    }
}